<!DOCTYPE html>
<html lang="en">

<head>
	<title></title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">


	<link rel="stylesheet" media="screen" href="http://netdna.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
	<link rel="stylesheet" href="stylesheet.css">
</head>

<body>

	<div id="app">

		<div class="container">
			<div class="row">
				<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2"></div>
				<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 thumbnail panel-body">
					<h1>ToDo list</h1>

					<p v-show="taskList.length > 0">Vous avez {{taskList.length}} tâche<span v-if="taskList.length > 1">s</span> à faire</p>

					<form action="" method="POST" role="form">

						<div class="form-group">
							<input type="text" class="form-control" id="champ-task" placeholder="Saisissez une tâche" v-model="newTask" v-on:keydown.enter.prevent="ajouter()">
						</div>

						<ul>
							<li v-for="task in taskList">

								<div class="checkbox">
									<label>
										<input type="checkbox" class="text-checkbox" value="" v-bind:checked="checkedState">
										<span>{{task}} </span>

									</label>
									<button type="button" class="btn btn-xs btn-danger" v-on:click="supprimer(task)">x</button>
								</div>

							</li>
						</ul>


						<button type="button" class="btn btn-success" v-on:click="ajouter()">+ Ajouter</button>

						<button type="button" class="btn btn-info" v-if="taskList.length >= 2" v-on:click="checkAll()">
					{{checkButton}}

							</button>
					</form>
				</div>
			</div>
		</div>
	</div>





	<script src="http://code.jquery.com/jquery.js"></script>
	<script src="http://netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
	<script src="https://unpkg.com/vue@2.2.6 "></script>
	<script src="main.js"></script>
</body>

</html>